{% extends 'layout/base.html' %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'style/shop/checkout.css' %}">

{% endblock %}

{% block title %}Pedido realizado con éxito{% endblock %}

{% block content %}
    
    <div class="order-success-container">
        
        <h2>¡Pedido realizado con éxito!</h2>

        <img src="{% static 'img/comprobado.png' %}" alt="Pedido exitoso" class="success-image">
        
        <nav class="order-success-links">
            <a href="{% url 'orders:mis_compras' %}" class="btn-link">Mis Compras</a>
            <a href="{% url 'shop:shop' %}" class="btn-link">Ir a la tienda</a>
        </nav>
    
    </div>

{% endblock %}
