/* Centrado del contenedor */
.container.py-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    margin-top: 50px;
}

/* Estilo de la Tarjeta */
.reset-card {
    background: #ffffff;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    border: 1px solid #333;
    background: #1a1a1a;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.reset-card h2 {
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

.reset-card p {
    color: white;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
}

/* Estilización de los inputs que genera {{ form.as_p }} */
.reset-card form p {
    text-align: left; /* Alinea etiquetas y campos a la izquierda */
}

.reset-card label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: white;
}

.reset-card input {
    width: 100%;             
    box-sizing: border-box;  
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1rem;
    display: block;          
}

.reset-card input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
}

/* Botón personalizado */
.btn-reset {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.btn-reset:hover {
    background-color: #0056b3;
}

/* Manejo de errores de Django */
.errorlist {
    color: #dc3545;
    padding: 0;
    list-style: none;
    font-size: 0.85rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

.reset-done-title {
    color: white;
}

.reset-text-done {
    color: white;
    font-weight: bold; 
}

.reset-confirm-title {
    color: white;
}

.confirm-text {
    color:white;
    font-weight: bold
}

ul > li {
    color: white;
}

.complete-title {
    color: white;
}

.complete-text {
    color:white;
    font-weight: bold
}

.btn-login {
    width: 10%;
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #0056b3;
}