{% extends 'layout/base.html' %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'style/auth/password_reset.css' %}">

{% endblock %}

{% block title %}Resetear contraseña{% endblock %}

{% block content %}
    
    <div class="container py-5">
        
        {% if validlink %}
        
        <div class="container ý-5">  

            <div class="reset-card">
            
                <h2 class="reset-confirm-title">Nueva contraseña</h2>
                <form method="post"">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-reset">Actualizar contraseña</button>
                </form>

            </div>
        
        </div> 
        
        {% else %}
    
            <h2 class="reset-confirm-title">Link invalido</h2>
            <p class="confirm-text">El link de restablecimiento es invalido o ha expirado. Por favor haz una nueva solicitud</p>
            <a href="{% url 'user:password_reset' %}" class="btn btn-warning">Request a new link</a>
        
        {% endif %}
    
    </div>

{% endblock %}
