{% extends 'layout/base.html' %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'style/auth/password_reset.css' %}">

{% endblock %}

{% block title %}Resetear contraseña{% endblock %}

{% block content %}
    
    <div class="container py-5">

        <h2 class="complete-title">¡Contraseña actualizada!</h2>
        <p class="complete-text">Ahora puedes iniciar sesión con tu cuenta.</p>
        <a href="{% url 'user:login' %}" class="btn-login">Login</a>

    </div>

{% endblock %}
